@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&family=Inter:opsz@14..32&display=swap');

@import "tailwindcss";

.test {
    color:#368bdb;
    color:#4e4e4e;
    position: absolute;
}
