@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&family=Inter:opsz@14..32&display=swap');

@import "tailwindcss";

.test {
    color:#368bdb;
    color:#9c9c9c;
    position: absolute;
}


@keyframes pop {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  70% {
    transform: scale(1.08);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.animate-pop {
  animation: pop 0.3s cubic-bezier(0.26, 0.53, 0.74, 1.48) forwards;
}

